{% extends "base.html" %}
{% set active_page = active_page|default('index') -%}

{% block title %}
<h1>Hello World!</h1>
{% endblock title %}

{% block content %}
<html>
    <head>
        <title>Flask Template Home</title>
    </head>
    <body>
<!--        <label for="site-search">Search the site:</label>-->
<!--            <input type="search" id="site-search" name="q"-->
<!--               aria-label="Search through site content">-->
<!--        <button>Search</button>-->

    </body>
</html>
{% endblock content %}